@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

h2{
	font-family: 'Hanna', sans-serif;
}

#listWrapper{
	width: 100%;
	font-family: "Nanum Gothic", sans-serif;
	color: rgb(0, 100, 102);
}
#listWrapper a{
	text-decoration: none;
	color: rgb(0, 100, 102);
}
#Question{
	clear: both;
	background: rgb(0, 176, 179);
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-top: 10px;
	padding: 5px;
	height: 75px;
}
#qTitle{
	color: rgb(204, 254, 255);
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
	font-family: "HYHeadLine", sans-serif;
	
}
#qTitle a{
	color: rgb(204, 254, 255);
	font-size: 25pt;
}
#qContent{
	clear: both;
	float: left;
	color: rgb(204, 254, 255);
}
#qWriter{
	float: right;
	margin-right: 10px;
	margin-top: 8px;
	font-size: 10pt;
	color: rgb(204, 254, 255);
}
#Answer{
	border-bottom: 2px dotted rgb(0, 176, 179);
	border-left: 2px dotted rgb(0, 176, 179);
	padding: 2px;
}
#aTitle{
	float: left;
}
#aWriter{
	float: right;
	margin-right: 10px;
	margin-top: 2px;
	font-size: 10pt;
}
.textOver{
	display: inline-block;
	width: 700px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#pageBtn{
	margin-top: 10px;
}
#writebtn{
	border: 1px solid;
	width: 80px;
	height: 25px;
	float: right;
	text-align: center;
	background: rgb(0, 176, 179);
	color: rgb(204, 254, 255);
	margin-bottom: 10px;
	cursor: pointer;
}