@CHARSET "UTF-8";

#listWrapper{
	width: 960px;
}
#Question{
	border: 2px double rgb(0,205,205);
	margin-top: 10px;
	padding: 5px;
}
#qTitle{
	float: left;
}
#qContent{
	float: left;
}
#qWriter{
	float: right;
}
#Answer{
	border-bottom: 2px dotted rgb(0,205,205);
	border-left: 2px dotted rgb(0,205,205);
	padding: 2px;
}
#aTitle{
	float: left;
}
#aWriter{
	float: right;
}