@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

#content {
	width: 260px;
	margin: 0 auto;
	padding: 0 50px;
}

#content ul {
	list-style: none;
	text-align: left;
	padding: 0;
}

#content ul li {
	line-height: 250%;
}

#content ul li label {
	width: 80px;
	float: left;
}

#content a {
	padding: 3px 10px;
	background: #00cdcd;
	color: white;
	font-weight: bolder;
	cursor: pointer;
}