@CHARSET "UTF-8";

#content {
	width: 280px;
	margin: 0 auto;
	padding: 0 50px;
}

h2 {
	margin-top: 0;
	font-size: 40pt;
	font-family: 'hanna';
	color: #00cdcd;
}

#content ul {
	list-style: none;
	text-align: left;
	padding: 0;
}

#content ul li {
	line-height: 250%;
}

#content ul li label {
	width: 100px;
	float: left;
}

#content a {
	padding: 3px 10px;
	background: #00cdcd;
	color: white;
	font-weight: bolder;
	cursor: pointer;
	text-decoration: none;
}
