@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body a {
	color: rgb(0,205,205);
	text-decoration: none;
}

body a:visited {
	color: rgb(0,205,205);
	text-decoration: none;
}

#cpage {
	background: #00cdcd;
	color: white;
	padding: 6px 12px;
	font-weight: bolder;
}

#content a {
	color: #00cdcd;
	padding: 6px 12px;
	font-weight: bolder;
}