@CHARSET "UTF-8";

#content {
	width: 800px;
	margin: 0 auto;
	background: white;
}

#memberTable {
	margin: 0 auto;
	border: 1px solid #c8c8c8;
	border-collapse: collapse;
}

	#memberTable th {
		color: #00cdcd;
	}

	#memberTable th,td {
		padding: 6px 12px;
		border: 1px solid #c8c8c8;
	}

#cpage {
	background: #00cdcd;
	color: white;
	padding: 6px 12px;
	font-weight: bolder;
}

#content a {
	color: #00cdcd;
	padding: 6px 12px;
	font-weight: bolder;
	text-decoration: none;
}

#content a:visited {
	text-decoration: none;
}