@CHARSET "UTF-8";
#articlecTitle {
	padding: 15px 0 15px 0;
	float: left;
}

#articleWdate {
	padding: 5px 0 3px 0;
}

#articleWriter {
	padding: 3px 0 15px 0;
}

#articleContent {
	padding: 15px 0 15px 0;
}

#articleImg {
	
}

img {
	width: 300px;
}

a {
	text-decoration: none;
	color: black;
	width: 70px;
}
a:VISITED{
	color: black;
}
a:HOVER{
	background: white;
}
ul {
	list-style: none;
	margin: auto;
}
ul li{
	
	width: 70px;
	float: left;
	border: 1px solid;
	background: rgb(0,205,205);
}
