@CHARSET "UTF-8";

#board_list{
	border: 3px solid rgb(0,205,205);
}

a{text-decoration: none;}

#list_tn{
	left: 
	}

#list_wwh{
	float: left;
	
}


#list_img{
	clear: both;
	width: 200px;
	height: 100px;	
}

#list_img img{
	clear: both;
	width: 200px;
	height: 100px;	
}

