@CHARSET "UTF-8";

#list_head{
	font-size: 40pt;
	font-weight: bolder;
	color: 	rgb(0, 205, 205);
	font-family: 'Hanna', sans-serif;
	
}

#content ul {
	list-style: none;
	padding: 0;
	clear: both;
}

#content ul li {
	width: 100%;
	height: 200px;
	border-bottom: 2px solid white;
	padding: 20px 0 20px 0;
}

.list_content {
	float: left;
}

.list_img {
	float: right;
	height: 150px;
	text-align: right;
}

.list_img img {
	height: 150px;
}

#btn_wrapper {
	float: right;
	width: 200px;
	background: none;
	text-align: right;
}

#write_btn {
	text-decoration: none;
	text-align: center;
	padding: 5px 15px;
	color: white;
	font-weight: bolder;
	background: #959595;
}



#write_btn:HOVER{
	background: rgb(0,205,205);
	
}



#pageMove a {
	text-decoration: none;
	color: #00cdcd;
	padding: 6px 12px;
	font-weight: bolder;
}

#pageMove a:VISITED {
	color: #00cdcd;
	font-weight: bolder;
	text-decoration: none;
}

#cpage {
	background: #00cdcd;
	color: white;
	padding: 6px 12px;
	font-weight: bolder;
}

#list_title{
	text-align: left;
	text-indent: 5%;
	
}
#list_title a{
	color: rgb(0, 205, 205);
	text-decoration: none;
	font-size: 18pt;
	font-weight: bold;
	width: 100%;
	text-align: right;
}
#list_title a:HOVER{
	background: rgb(0, 205, 205);
	color: white;
	
}


#list_content {
	text-indent: 2%;

}

#list_wdate {
	text-align: right;
	color: #959595;
}

.textOver {
	display: inline-block;
	width: 600px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}