@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

html, body{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

header {
	background: rgb(0,205,205);
	float: left;
	margin-bottom: 10px;
	width: 100%;
	height: 60px;
}

#title {
	float: left;
	padding: 10px 10px 10px 0;
	margin-left: 150px;
}

#title span {
	font-family: 'Hanna', sans-serif;
	font-size: 30pt;
	color: white;
}

#title a {
	text-decoration: none;
}

#title a:visited {
	color: white;
	text-decoration: none;
}

#nav {
	padding: 20px;
	float: left;
	text-align: left;
}
	#nav a {
		color: white;
		text-decoration: none;
		margin: 0 5px;
		font-family: "Nanum Gothic", sans-serif;
		font-size: 12pt;
		font-weight: bolder;
	}
	
	#nav a:visited {
		color: white;
	}

#content_wrapper {
	text-align: center;
	clear: both;
	min-height: 813px;
	width: 980px;
	margin: 0 auto;
	padding-top: 100px;
}

footer {
	text-align: center;
	color: #808184;
	background: #E1E0DB;
	margin-top: 10px;
	width: 100%;
	height: 30px;
}