@CHARSET "UTF-8";
#All{
	width: 1024px;
	margin: 0 auto;
}
header{
	border: 1px solid #888;
	float: left;
	margin-bottom: 10px;
	width: 200px;
}
nav{
	border: 1px solid #888;
	float: right;
	margin-bottom: 10px;
	width: 810px;
}
article{
	border: 1px solid #888;
	clear: both;
	width: 1024px;
}
footer{
	border: 1px solid #888;
	margin-top: 10px;
	width: 1024px;
}