@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body {
	margin: 0 auto;
	text-align: center;
	height: 100%;
}

#back {
	position: fixed;
	top: auto;
	left: auto;
	width: 100%;
	height: 100%;
	
	z-index: -1;
	background: url(../img/main2.jpg) center no-repeat;
	
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}



/* header */

#header {
	clear: both;
}

#nav_main {
	padding: 20px;
	width: 450px;
	height: 20px;
	float: left;
	text-align: left;
}
	#nav_main a {
		color: white;
		text-decoration: none;
		margin: 0 5px;
		font-family: "Nanum Gothic", sans-serif;
		font-size: 12pt;
		font-weight: bolder;
	}
	
	#nav_main a:visited {
		color: white;
	}
	
#login_div {
	float: right;
	padding: 20px;
}

#login_div a {
	text-decoration: none;
}

#login_div a:visited {
	text-decoration: none;
}
	
#login {
	text-align: right;
	font-weight: bolder;
	color: white;
	margin-right: 50px;
}

#login_img {
	width: 34px;
	height: 34px;
	border-radius: 50%;
	border: 3px solid #ffffff;
	position: fixed;
	top: 12px;
	right: 20px;
}



/* content */

#content {
	text-align: center;
	margin: 0 auto;
	height: 100%;
}

#logo {
	width: 100%;
	height: 50px;
	text-align: center;
	font-family: 'Hanna', sans-serif;
	font-size: 50pt;
	color: white;
}

#notice_list {
	margin-top: 100px;
}

#list_up {
	cursor: pointer;
}

#list_down {
	cursor: pointer;
}

#notice_list_inner {
	display: inline-block;
	text-align: center;
	color: #ffffff;
	font-family: "Nanum Gothic", sans-serif;
	font-size: 15pt;
	font-weight: bolder;
}

.fa-chevron-up, .fa-chevron-down {
	color: #ffffff;
}

#footer {
	width: 100%;
	height: 100px;
	background-color: rgba(0,205,205,.85);
    position: fixed;
    bottom: 0px;
}